{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- <img src="{% static 'my_app/example.jpg' %}" alt="My image"> -->
    <div class="container">
    <div class="row justify-content-md-right">
        <h2>Shay Quinn</h2>
        <div class="col">
        <p>Python Developer</p>
        </div>
        <div class="col-md-auto">
        <a class="btn btn-primary" 
        style="background-color: #0082ca;" 
        href="https://www.linkedin.com/in/shay-quinn/"
        role="button"
        target="_blank">
        <i class="fa fa-linkedin"></i></a>
        <a class="btn btn-primary" 
        style="background-color: #0082ca;" 
        href="https://github.com/ShayQ"
        role="button"
        target="_blank">
        <i class="fa fa-github"></i></a>
        </div>
    </div>
    </div>
    <div class="container">
    <div class="card m-3">
        <div class="card-body">
            <h2 class="card-title">
                <h1>About me</h1>
            </h2>
            <p class="card-text">
                <p>Graduated with a Distinction in Computing & Multimedia in 2018</p>
                <p>Awarded best student as part of my Bachelors Degree and was the only student in my course to win it. This
                was for achieving the overall mark of 85% and a 90% in my final year project where I made an Android App
                for learning Korean vocabulary. This was done using a REST API from Naver</p>
                <p>Nominated and winning a G.E.M (Going Extra Mile) award in my current role. This was for my work and effort
                in delivering numerous projects within deadlines and to a high standard.</p>
                <p>Passionate about expanding my technical knowledge and abilities.</p>
                <p>Proficient with OOP languages, primarily Python.</p>
                <p>Passionate learner. Currently studying Python. Experienced using Django, Flask, Tkinter and have made
                projects with each. Experienced creating projects that use Postgres and MySQL and deploying to sites such
                as Heroku and PythonAnywhere.</p>
                <p>Examples available on my Github account - https://github.com/ShayQ</p>
            </p>
        </div>
    </div>
    </div>
    <div class="container">
    <div class="card m-3">
        <div class="card-body">
            <h2 class="card-title">
                <h1>Skills</h1>
            </h2>
            <p class="card-text">
                <p>Languages: <b class='skill'>Python</b> <b class='skill'>Java</b> <b class='skill'>Boo</b></p>
                <p>Databases: <b class='skill'>PostgreSQL</b> <b class='skill'> MS SQL Server</b> <b class='skill'>MySQL</b> <b class='skill'>SQLite</b></p>
                <p>Frameworks: <b class='skill'>Django</b> <b class='skill'> Django Rest Framework</b> <b class='skill'>Flask</b> <b class='skill'>Kivy</b> <b class='skill'>Tkinter</b> <b class='skill'>JavaFX</b> <b class='skill'>Native Android development</b></p>
                <p>Web Development: <b class='skill'>HTML</b> <b class='skill'>CSS</b> <b class='skill'>JavaScript</b> <b class='skill'>XML</b> <b class='skill'>XSLT</b> <b class='skill'>XPath</b></p>
                <p>Tools: <b class='skill'>Docker</b> <b class='skill'>Venv</b> <b class='skill'>Heroku</b> <b class='skill'>PythonAnywhere</b> <b class='skill'>UnitTest</b> <b class='skill'> Travis‑CI</b> <b class='skill'>GitHub</b> <b class='skill'>Postman</b></p>
                <p>Processes: <b class='skill'>Agile</b> <b class='skill'>Scrum</b> <b class='skill'>Kanban</b> <b class='skill'>Test Driven Development</b></p>
                <p>Operating Systems: <b class='skill'>Windows</b> <b class='skill'>Ubuntu</b> <b class='skill'>MacOS</b></p>
            </p>
        </div>
    </div>
    </div>
    <div class="container">
    <div class="card m-3">
        <div class="card-body">
            <h2 class="card-title">
                <h1>Work Experience</h1>
            </h2>
            <p class="card-text">
                <p>Blah Blah Blah</p>
            </p>
        </div>
    </div>
    </div>
    <div class="container">
    <div class="card m-3">
        <div class="card-body">
            <h2 class="card-title">
                <h1>Education</h1>
            </h2>
            <p class="card-text">
                <p>Blah Blah Blah</p>
            </p>
        </div>
    </div>
    </div>
{% endblock content %}